html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: "Plus Jakarta Sans", sans-serif;
}

.header,
.main__hero,
.footer {
  padding: 0 16px;
}

.header {
  padding-top: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__button {
  background: #13183f;
  border-radius: 28px;
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.75rem;
  color: #ffffff;
  border: none;
  padding: 9px 24px 11px 24px;
}
.header__button:hover {
  cursor: pointer;
  background: #666ca3;
}

.main {
  position: relative;
  overflow: hidden;
}
.main__hero {
  margin-top: 38px;
}
.main__hero__heading {
  margin: 0;
  font-weight: 800;
  font-size: 2.5rem;
  line-height: 3.125rem;
  color: #13183f;
}
.main__hero__para {
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.625rem;
  color: #83869a;
  margin: 0;
  margin-top: 26px;
}
.main__hero__button {
  background: linear-gradient(180deg, #ff6f48 0%, #f02aa6 100%);
  border-radius: 31.5px;
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.625rem;
  color: #ffffff;
  border: none;
  padding: 15px 37px 15px 38px;
  margin-top: 24px;
}
.main__hero__button:hover {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), linear-gradient(180deg, #ff6f48 0%, #f02aa6 100%);
  cursor: pointer;
}
.main__hero__image {
  width: 327px;
  height: 301px;
  margin: 0 8px;
  margin-top: 46px;
}
.main .card-container {
  display: grid;
  gap: 40px;
  margin-top: 46px;
  padding: 0 16px 88px;
  background: linear-gradient(180deg, #ffffff 0%, #f0f1ff 100%);
}
.main__card {
  background: #ffffff;
  box-shadow: 0px 25px 50px rgba(6, 22, 141, 0.0442381);
  border-radius: 10px;
  padding: 56px 29px 32px 28px;
  position: relative;
}
.main__card__image {
  position: absolute;
  margin-top: -80px;
}
.main__card__heading {
  font-weight: 800;
  font-size: 1.25rem;
  line-height: 1.563rem;
  color: #13183f;
  margin: 0;
}
.main__card__para {
  margin: 0;
  margin-top: 16px;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.625rem;
  color: #83869a;
}
.main__card__link {
  display: inline-block;
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.75rem;
  color: #f74780;
  margin-top: 24px;
}
.main__card--first {
  background: linear-gradient(180deg, #ff6f48 0%, #f02aa6 100%);
  border-radius: 10px;
  padding: 24px 29px 32px 28px;
}
.main__card--first h2 {
  font-weight: 800;
  font-size: 1.5rem;
  line-height: 2rem;
  color: #ffffff;
  margin: 0;
}

.footer {
  background: #13183f;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 36px 16px;
}
.footer__button {
  background: linear-gradient(180deg, #4851ff 0%, #f02aa6 100%);
  border-radius: 28px;
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.75rem;
  color: #ffffff;
  border: none;
  padding: 9px 24px 11px 24px;
}
.footer__button:hover {
  cursor: pointer;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), linear-gradient(180deg, #4851ff -54.32%, #f02aa6 100%);
}

@media (min-width: 600px) {
  .header,
  .main__hero,
  .footer {
    padding: 0 39px 0 40px;
  }
  .header {
    padding-top: 24px;
  }
  .main {
    position: relative;
    overflow: hidden;
  }
  .main__hero {
    margin-top: 99px;
  }
  .main__hero__content {
    width: 57.8%;
  }
  .main__hero__image {
    position: absolute;
    top: -170px;
    right: -300px;
    width: 640px;
    height: 640px;
    margin: 0;
  }
  .main .card-container {
    grid-template-columns: 1fr 1fr;
    margin-top: 186px;
    -moz-column-gap: 10px;
         column-gap: 10px;
    row-gap: 32px;
    padding: 0 39px 40px;
  }
  .main__card {
    padding: 56px 22px 32px 32px;
  }
  .footer {
    padding: 36px 39px 36px 40px;
  }
}
@media (min-width: 1200px) {
  .header,
  .main__hero,
  .footer {
    padding: 0 165px;
  }
  .header {
    padding-top: 24px;
  }
  .header__button {
    padding: 14px 31px 14px 32px;
    font-size: 1.125rem;
    line-height: 1.75rem;
  }
  .main {
    position: relative;
    overflow: hidden;
  }
  .main__hero {
    margin-top: 172px;
  }
  .main__hero__content {
    width: 41.2%;
  }
  .main__hero__heading {
    font-size: 3.5rem;
    line-height: 4.438rem;
  }
  .main__hero__para {
    margin-top: 29px;
    font-size: 1.125rem;
    line-height: 1.75rem;
    width: 97.5%;
  }
  .main__hero__button {
    padding: 19px 31px 16px 32px;
    font-size: 1.125rem;
    line-height: 1.75rem;
    margin-top: 40px;
  }
  .main__hero__image {
    width: 991.63px;
    height: 936.92px;
    left: 784px;
    top: -146.13px;
  }
  .main .card-container {
    margin-top: 250px;
    grid-template-columns: repeat(3, 1fr);
    -moz-column-gap: 30px;
         column-gap: 30px;
    row-gap: 80px;
    padding: 0 165px 140px 165px;
  }
  .main__card {
    padding: 64px 32px 40px 32px;
  }
  .main__card--first {
    padding: 64px 32px 138px 32px;
  }
  .main__card--first h2 {
    font-size: 2rem;
    line-height: 2.5rem;
  }
  .main__card__heading {
    font-size: 1.5rem;
    line-height: 1.875rem;
  }
  .main__card__para {
    margin-top: 24px;
    font-size: 1.125rem;
    line-height: 1.75rem;
  }
  .main__card__link {
    font-size: 1.125rem;
    line-height: 1.75rem;
  }
  .main__card__image {
    width: 56px;
    height: 56px;
    margin-top: -90px;
  }
  .footer {
    padding: 32px 165px;
  }
  .footer__button {
    padding: 14px 31px 14px 32px;
    font-size: 1.125rem;
    line-height: 1.75rem;
  }
}
@media (min-width: 1600px) {
  .main__hero__image {
    display: none;
  }
}/*# sourceMappingURL=styles.css.map */